# Peer-graded Assignment: Capstone Project Notebook - Week 3, Part 1

## General Information
This notebook will be used for the capstone project.  It shows the steps and code used to complete the Week 3 project.
<br>
* The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
* Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
*   More than one neighborhood can exist in one postal code area. Combine these rows into one row with the neighborhoods separated with a comma.
*  If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
*  In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

## Amendation to source code for assignment

The assingment asked to download the table "Toronto - FSAs".
https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M 
<br>
However the current version on Wikipedia has already merged any rows where the PostalCode appears more than once. 
<br>
Therefore I retrieved an earlier version that met the needs of the assignment from the 'View history' tab.
<br>
23:52, 4 October 2018‎ 47.54.226.96 talk‎ 17,346 bytes -4‎ →‎Toronto - FSAs undo 
<br>
https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=862527662

## Import Libraries

In [1]:
import pandas as pd
import numpy as np

## Scrape the data

In [2]:
data = pd.read_html('https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=862527662')

In [3]:
type(data)

list

In [4]:
len(data)

3

In [5]:
data[0]

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
284      M8Z         Etobicoke              Mimico NW
285      M8Z         Etobicoke     The Queensway West
286      M8Z         Etobicoke  Royal York South West
287      M8Z         Etobicoke         South of Bloor
288      M9Z      Not assigned           Not assigned

[289 rows x 3 columns]

In [6]:
df = data[0]

In [7]:
df.dtypes

Postcode         object
Borough          object
Neighbourhood    object
dtype: object

## Data cleaning
### Fix the column names to match the example given - 'Postcode' to 'PostalCode'.

In [8]:
df.columns = ['PostalCode', 'Borough', 'Neighborhood']

In [9]:
df

    PostalCode           Borough           Neighborhood
0          M1A      Not assigned           Not assigned
1          M2A      Not assigned           Not assigned
2          M3A        North York              Parkwoods
3          M4A        North York       Victoria Village
4          M5A  Downtown Toronto           Harbourfront
..         ...               ...                    ...
284        M8Z         Etobicoke              Mimico NW
285        M8Z         Etobicoke     The Queensway West
286        M8Z         Etobicoke  Royal York South West
287        M8Z         Etobicoke         South of Bloor
288        M9Z      Not assigned           Not assigned

[289 rows x 3 columns]

### Assign any 'Not assigned' cells from the 'Neighborhood' column with the name of the 'Borough'

In [10]:
df.loc[df['Neighborhood'] =='Not assigned' , 'Neighborhood'] = df['Borough']

In [11]:
df.head(10)

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights
7        M6A        North York    Lawrence Manor
8        M7A      Queen's Park      Queen's Park
9        M8A      Not assigned      Not assigned

### Remove any unassigned cells from the 'Borough'  column

In [12]:
df_drop = df[df.Borough != 'Not assigned']

In [13]:
df_drop

    PostalCode           Borough              Neighborhood
2          M3A        North York                 Parkwoods
3          M4A        North York          Victoria Village
4          M5A  Downtown Toronto              Harbourfront
5          M5A  Downtown Toronto               Regent Park
6          M6A        North York          Lawrence Heights
..         ...               ...                       ...
283        M8Z         Etobicoke  Kingsway Park South West
284        M8Z         Etobicoke                 Mimico NW
285        M8Z         Etobicoke        The Queensway West
286        M8Z         Etobicoke     Royal York South West
287        M8Z         Etobicoke            South of Bloor

[212 rows x 3 columns]

### Group data by 'PostalCode' and combine any affected Neighborhoods seperating them with ','

In [14]:
df_group = df_drop.groupby(['PostalCode','Borough'])['Neighborhood'].apply(' , '.join).reset_index()

In [15]:
df_group

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                    Rouge , Malvern
1          M1C  Scarborough           Highland Creek , Rouge Hill , Port Union
2          M1E  Scarborough                Guildwood , Morningside , West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village , Martin Grove Gardens , Ric...
101        M9V    Etobicoke  Albion Gardens , Beaumond Heights , Humbergate...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

### The shape of the final data

In [16]:
shape = df_group.shape

In [17]:
shape

(103, 3)

In [19]:
df_group.to_csv(r'C:\Users\Hills\Documents\Capstone_week_3\Capstone_week3_part1.csv', index = False)